<a href="https://colab.research.google.com/github/KOMPALALOKESH/Ohile/blob/main/Ohile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Import Libraries**

In [168]:
import pandas as pd

## **Load Data**

In [169]:
xlsx = pd.ExcelFile('Dataset.xlsx')
sheet1 = pd.read_excel(xlsx, 'Sheet1')
sheet3 = pd.read_excel(xlsx, 'Sheet3')

In [170]:
X = sheet1.iloc[::10, :]
X.reset_index(drop=True)

              a           b           c         q         d
0     -0.000064 -173.205081  173.205041  0.000000  1.000000
1      3.141401 -174.754444  171.612942  0.015708  0.999877
2      6.345414 -176.561193  170.060807  0.031413  0.999507
3      9.670342 -178.676330  168.613990  0.047109  0.998890
4     13.257627 -181.363835  167.424709  0.062794  0.998026
...         ...         ...         ...       ...       ...
5996 -29.289204 -187.527293  219.100870 -0.165834  0.986154
5997 -26.038928 -189.452425  217.750753 -0.165834  0.986154
5998 -22.791191 -191.326082  216.351994 -0.165834  0.986154
5999 -19.546555 -193.148307  214.905184 -0.165834  0.986154
6000 -16.305590 -194.919132  213.410919 -0.165834  0.986154

[6001 rows x 5 columns]

In [171]:
display(X)

               a           b           c         q         d
0      -0.000064 -173.205081  173.205041  0.000000  1.000000
10      3.141401 -174.754444  171.612942  0.015708  0.999877
20      6.345414 -176.561193  170.060807  0.031413  0.999507
30      9.670342 -178.676330  168.613990  0.047109  0.998890
40     13.257627 -181.363835  167.424709  0.062794  0.998026
...          ...         ...         ...       ...       ...
59960 -29.289204 -187.527293  219.100870 -0.165834  0.986154
59970 -26.038928 -189.452425  217.750753 -0.165834  0.986154
59980 -22.791191 -191.326082  216.351994 -0.165834  0.986154
59990 -19.546555 -193.148307  214.905184 -0.165834  0.986154
60000 -16.305590 -194.919132  213.410919 -0.165834  0.986154

[6001 rows x 5 columns]

In [172]:
y = sheet3

In [173]:
display(y)

                Va            Vb            Vc
0    -7.139485e-07  5.148770e-08 -6.950688e-07
1    -5.169221e-07  4.658891e-08 -5.806788e-07
2     4.398271e-01 -8.802239e-01  4.398555e-01
3     1.097134e+00 -2.196324e+00  1.097274e+00
4     2.105202e+00 -4.215652e+00  2.105672e+00
...            ...           ...           ...
5996 -2.826608e+01 -2.150987e+01  4.981383e+01
5997 -2.816893e+01 -2.172594e+01  4.992871e+01
5998 -2.807634e+01 -2.193212e+01  5.003835e+01
5999 -2.798811e+01 -2.212885e+01  5.014298e+01
6000 -2.790402e+01 -2.231657e+01  5.024284e+01

[6001 rows x 3 columns]

## **Splitting DataSet into TrainSet and TestSet**

In [174]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=1)

## **Feature Scaling**

In [175]:
from sklearn.preprocessing import StandardScaler

In [176]:
scaler = StandardScaler()

In [177]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)
y_train = scaler.fit_transform(y_train)
y_test = scaler.fit_transform(y_test)

## **Training Model & Predicting**

In [178]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [179]:
y_predict = model.predict(X_test)

## **Evaluating Model Performance**

In [180]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

### **Mean Squared error**

In [181]:
MSE = mean_squared_error(y_test, y_predict).round(4)
print('mean_squared_error: ',MSE)

mean_squared_error:  0.0213

### **Mean Absolute Error**

In [182]:
MAE = mean_absolute_error(y_test, y_predict).round(4)
print('mean_absolute_error: ',MAE)

mean_absolute_error:  0.1137

### **r2_score**

In [183]:
r2_score = r2_score(y_test, y_predict).round(4)
print('r2_score: ',r2_score)

r2_score:  0.9787